@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

header {
    background-color: rgb(15, 188, 204);
    padding: 20px;
}

.navegar {
    display: block;
    position: relative;
    z-index: 1;
    left: 90%;
    bottom: 30px;
    cursor: pointer;
    border: none;
    background: none;
    border-top: 3px solid white;
}

.navegar::before, .navegar::after {
    content: "";
    display: block;
    width: 50px;
    height: 5px;
    background-color: aliceblue;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}

.lista-navegar {
    position: fixed;
    display: inline-block;
    padding: 20px;
    top: 0px;
    margin: -20px;
    left: 0%;
    width: 200px;
    height: 100vh;
    background-color: rgb(229, 206, 27);;
    clip-path: circle(100px at 90% -30%);
    transition: 1s ease-out;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0;
    pointer-events: none;
}

@media (max-width: 600px) {
    .lista-navegar {
        left: 55%;
    }
}

.nav.ativar  .lista-navegar{
    clip-path: circle(1500px at 90% -15%);
    pointer-events: all;
}

.list:hover {
    color: rgb(238, 255, 0);
}

.lista-navegar a{
    font-size: 24px;
}

.lista-navegar li:nth-child(1) a {
    transition: 0.5s 0.2s;
}

.lista-navegar li:nth-child(2) a {
    transition: 0.5s 0.4s;
}

.lista-navegar li:nth-child(3) a {
    transition: 0.5s 0.6s;
}

.nav.ativar .lista-navegar a {
    opacity: 1;
}

.nav.ativar .navegar {
    position: fixed;
    top: 26px;
    right: 16px;
    border-top-color: transparent;
}

.nav.ativar .navegar::before {
    transform: rotate(135deg);
    bottom: 300px;
}

.nav.ativar .navegar::after {
    transform: rotate(-135deg);
    top: -7px;
    top: -310px;
}

@media (min-width: 600px) {
    .nav.ativar .navegar {
        top: 26px;
        right: 16px;
        border-top-color: transparent;
    }

    .nav.ativar .navegar::before {
        transform: rotate(135deg);
        bottom: 300px;
        left: -900%;
    }

    .nav.ativar .navegar::after {
        transform: rotate(-135deg);
        top: -7px;
        top: -310px;
        left: -900%;
   }
}

h1{
    display: inline-block;
    padding-left: 20px ;
}

h2 {
    padding-left: 20px;
}

.valor {
    display: inline-block;
    overflow: hidden;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: aliceblue;
}

a:hover {
    color: rgb(10, 230, 255);   
}

span {
    color: rgb(229, 206, 27);
}

#pesquisa {
    
    padding-left: 20px;
    width: 300px;
    height: 30px;
    margin-left: 30px;
    border-radius: 5px;
}

#quadrado {
    
    display: inline-block;
    margin: 20px;
    background-color: rgba(222, 222, 222, 0.108);
    width: 200px;
    height: 335px;
}

#imagem {
    
    background-color: rgb(220, 220, 220);
    width: 200px;
    height: 200px;
}

.acessar {

    display: inline-block;
    font-size: 35px;
    padding: 10px;
    margin: 5px;
    background-color: rgb(15, 188, 204);
}

p {
    text-align: center;
}