@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

header {
    background-color: rgb(229, 206, 27);
    padding: 20px;
}

h1 {
    display: inline-block;
    padding-left: 20px ;
}

a:hover {
    color: rgb(238, 255, 0);
}

a {
    text-decoration: none;
    color: aliceblue;
}

video {
    position: relative;
    width: 100%;
}

form {
    position: absolute;
    background-color: rgba(230, 212, 45, 0.541);
    padding: 20px;
    left: 29%;
    width: 35%;
    bottom: 300px;
    border-radius: 10px;
    text-align: center;
}

#enviar {
    position: relative;
    display: inline-block;
    color: rgb(255, 255, 255);
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    width: 80%;
}


#informa {
    position: relative;
    margin-bottom: 10px;
}

 
